openapi: 3.2.0
info:
  title: Sinclair Corporate Content Embed API
  version: wp/v2 + sbg/v1
  summary: The public read surface of Sinclair, Inc.'s corporate site.
  description: Sinclair, Inc.
  contact:
    name: Sinclair, Inc.
    url: https://sbgi.net
servers:
- url: https://sbgi.net/wp-json
  description: Sinclair corporate site WordPress REST API.
tags:
- name: Embed
  description: oEmbed representations of Sinclair corporate URLs.
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOEmbed
      summary: oEmbed 1
      description: oEmbed 1.0 representation of a Sinclair corporate URL.
      tags:
      - Embed
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated for a privileged context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          default: 600
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope returned by every 4xx/5xx on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
