openapi: 3.2.0
info:
  title: Sinclair Corporate Content Stations API
  version: wp/v2 + sbg/v1
  summary: The public read surface of Sinclair, Inc.'s corporate site.
  description: Sinclair, Inc.
  contact:
    name: Sinclair, Inc.
    url: https://sbgi.net
servers:
- url: https://sbgi.net/wp-json
  description: Sinclair corporate site WordPress REST API.
tags:
- name: Stations
  description: Sinclair's owned, operated and managed television station footprint.
paths:
  /sbg/v1/station-map:
    get:
      operationId: getStationMap
      summary: Every Sinclair-owned or operated television station plotted for the corporate…
      description: Every Sinclair-owned or operated television station plotted for the corporate station map, with call letters, network affiliation, DMA name and rank, ownership status (O&O / JSA / SSA), logo and street address.
      tags:
      - Stations
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated for a privileged context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /sbg/v1/rsn-map:
    get:
      operationId: getRsnMap
      summary: Regional sports network territories with marker location, logo, covered states…
      description: Regional sports network territories with marker location, logo, covered states, teams carried and the network website.
      tags:
      - Stations
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authenticated for a privileged context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope returned by every 4xx/5xx on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
